{#
/**
 * @file
 * Default theme implementation to print tasked_module text.
 *
 * Available variables:
 *   - source_text
 *
 * @see template_preprocess_tasked_module()
 *
 * @ingroup themeable
 */
#}
<div class="tasked_module">
{% for item in source_text %}
  <p>{{ item }}</p>
{% endfor %}
</div>